/* Файл blocks/about-us.less */

.about-us {
  position: relative;
  /*border: 1px solid blue; /**/
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: 768px) {
    min-width: 768px;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 52px;
    margin: 0 auto;
    /*border: 1px solid green;/**/
  }

  @media (min-width: 1150px) {
    min-width: 1150px;
    min-height: 686px;
    padding: 0 50px;
    margin: 0 auto;
    /*border: 1px solid green;/**/
  }
}

.main-page__about-us {
  position: relative;
}

.main-page__about-us::before {
  content: "";
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 10px;
  box-sizing: inherit;
  background: url("../img/zigzag-line-desktop-svg.svg") no-repeat top center;
  background-size: cover;
  position: absolute;
  top: 38px;
  left: 0;
  z-index: 21;

  @media (min-width: 768px) {
    min-height: 18px;
    top: 0;
    left: 0;
  }

  @media (min-width: 1150px) {
    min-height: 27px;
  }
}

.about-us__bold {
  .set-font-size(25px);
  font-family: "opensansbold", "Georgia", sans-serif;
  text-align: left;
  color: #000000;
  line-height: 1.2;
  min-width: 320px;
  min-height: 24px;
  /*border: 1px solid red;/**/
  margin-top: 76px;
  padding-left: 30px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: 768px) {
    .set-font-size(43px);
    line-height: 1.16;
    min-width: 316px;
    min-height: 42px;
    /*border: 1px solid red;/**/
    margin-top: 60px;
    padding-left: 0;
  }

  @media (min-width: 1150px) {
    .set-font-size(53px);
    line-height: 1.08;
    min-width: 387px;
    min-height: 51px;
    /*border: 1px solid red;/**/
    margin-top: 65px;
    padding-left: 175px;
    /*border: 1px solid red;/**/
  }
}

.about-us__list {
  /*border: 1px solid blue; /**/
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-top: -15px;
  margin-left: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 39px;
  width: 320px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    width: 768px;
    min-height: 410px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    /*border: 1px solid green;/**/
  }

  @media (min-width: 1150px) {
    width: 645px;
    min-height: 410px;
    margin: 0 auto;
    margin-left: 175px;
    margin-top: -88px;
    /*border: 1px solid green;/**/
  }
}

.about-us__icon {
  /*border: 1px solid green; /**/
  margin: 0;
  padding: 0;
  width: 290px;
  min-height: 98px;
  padding-top: 40px;
  margin-top: 30px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    margin-top: 0;
    min-width: 295px;
  }

  @media (min-width: 1150px) {
    padding-top: 40px;
  }
}

.about-us__list-item {
  /*border: 1px solid blue; /**/
  font-family: "opensansbold", "Georgia", sans-serif;
  text-align: left;
  color: #000000;
  line-height: 1.18;

  @media (min-width: 768px) {
    .set-font-size(20px);
    line-height: 1.1;
  }

  @media (min-width: 1150px) {
    padding-top: 50px; /*расстояние между записями*/
  }
}

.about-us__icon:nth-child(n+1):nth-child(-n+3) .about-us__list-item {
  @media (min-width: 768px) {
    max-width: 235px;
  }
}

.about-us__icon:nth-child(1) .about-us__list-item {
  @media (min-width: 768px) {
    width: 205px;
  }
}

.about-us__icon-ecology {
  background: url("../img/icon-1-svg.svg") no-repeat top center;
  background-position: 0 0;

  @media (min-width: 768px) {
    order: 1;
  }

  @media (min-width: 1150px) {
    background-position: 0 44px;
  }
}

.about-us__icon-cost {
  background: url("../img/icon-3-svg.svg") no-repeat top center;
  background-position: 0 0;

  @media (min-width: 768px) {
    order: 3;
  }

  @media (min-width: 1150px) {
    background-position: 0 47px;
  }
}

.about-us__icon-like {
  background: url("../img/icon-5-svg.svg") no-repeat top center;
  background-position: 0 0;

  @media (min-width: 768px) {
    order: 5;
  }

  @media (min-width: 1150px) {
    background-position: 0 52px;
  }
}

.about-us__icon-love {
  background: url("../img/icon-2-svg.svg") no-repeat top center;
  background-position: 0 0;

  @media (min-width: 768px) {
    order: 2;
  }

  @media (min-width: 1150px) {
    background-position: 0 44px;
  }
}

.about-us__icon-country {
  background: url("../img/icon-4-svg.svg") no-repeat top center;
  background-position: 0 0;

  @media (min-width: 768px) {
    order: 4;
  }

  @media (min-width: 1150px) {
    background-position: 0 44px;
  }
}

.about-us__icon-gift {
  background: url("../img/icon-6-svg.svg") no-repeat top center;
  background-position: 0 0;

  @media (min-width: 768px) {
    order: 6;
  }

  @media (min-width: 1150px) {
    background-position: 0 48px;
  }
}
