/* Файл blocks/brandweek.less */

.brandweek {
  /*border: 1px solid red; /**/
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;

  @media (min-width: 768px) {
    min-width: 768px;
    min-height: 515px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin: 0 auto;
    margin-bottom: 46px;
    /*border: 1px solid green;/**/
  }

  @media (min-width: 1150px) {
    flex-direction: column;
    min-width: 1150px;
    min-height: 636px;
    padding: 0 50px;
    margin-top: 54px;
    margin-bottom: 73px;
    /*border: 1px solid red;/**/
  }
}

.brandweek__bold {
  .set-font-size(25px);
  font-family: "opensansbold", "Georgia", sans-serif;
  text-align: left;
  color: #000000;
  line-height: 1.2;
  width: 320px;
  min-height: 24px;
  /*border: 1px solid red;/**/
  margin-top: 27px;
  padding-left: 30px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: 768px) {
    .set-font-size(43px);
    line-height: 1.16;
    min-width: 430px;
    min-height: 42px;
    padding-left: 0;
    margin-top: 40px;
    margin-left: -4px;
    /*border: 1px solid red;/**/
  }

  @media (min-width: 1150px) {
    .set-font-size(53px);
    line-height: 1.08;
    min-width: 710px;
    min-height: 51px;
    padding-left: 175px;
    margin-top: 63px;
    margin-right: auto;
    /*order: 1px solid red;/**/
  }
}

.brandweek__bold::after {
  content: "ТОВАР НЕДЕЛИ";
  .set-font-size(17px);
  font-family: "opensansbold", "Georgia", sans-serif;
  text-align: left;
  color: #63d1bb;
  line-height: 1.18;
  box-sizing: inherit;
  position: absolute;
  top: 35px;
  left: 30px;

  @media (min-width: 768px) {
    text-align: center;
    line-height: 1;
    top: 12px;
    left: 573px;
  }

  @media (min-width: 1150px) {
    width: 70px;
    top: 15px;
    left: 47px;
  }
}

.brandweek__medium {
  .set-font-size(15px);
  font-family: "opensans", "Georgia", sans-serif;
  text-align: left;
  color: #444444;
  line-height: 1.6;
  width: 260px;
  min-height: 63px;
  /*border: 1px solid red;/**/
  margin-top: 23px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: 768px) {
    margin-bottom: auto;
    margin-top: 8px;
    .set-font-size(17px);
    line-height: 1.76;
    width: 292px;
  }

  @media (min-width: 1150px) {
    margin-top: -2px;
    margin-right: auto;
    padding-left: 175px;
    width: 467px;
    min-height: 77px;
  }
}

.brandweek__image {
  margin-top: 29px;

  @media (min-width: 768px) {
    width: 333px;
    height: 404px;
    order: 2;
    margin-top: 15px;
  }

  @media (min-width: 1150px) {
    width: 525px;
    height: 636px;
    order: 6;
    margin-top: -80px;
    margin-left: 520px;
    position: relative;
    z-index: -1;
    top: -169px;
  }
}

.brandweek__cost {
  margin: 0;
  /*border: 1px solid red; /**/
  min-height: 17px;
  padding: 19px 67px;
  text-align: center;
  color: #444444;
  font-family: "opensansbold", "Georgia", sans-serif;
  line-height: 1.41;
  box-sizing: border-box;

  @media (min-width: 768px) {
    min-width: 292px;
    padding: 34px 73px;
    text-align: center;
    line-height: 1.2;
    .set-font-size(20px);
    order: 4;
    margin-top: -207px;
    margin-right: 220px;
  }

  @media (min-width: 1150px) {
    min-width: 144px;
    padding: 13px 1px 2px 247px;
    margin-top: 84px;
    margin-right: auto;
  }
}

.button {
  text-decoration: none;
  box-sizing: border-box;
  padding: 14px 78px;
  min-width: 260px;
  min-height: 52px;
  color: #444444;
  border: 2px solid #444444;
  background-color: #ffffff;
  text-transform: uppercase;

  &:hover,
  &:active {
    background-color: #444444;
    color: #ffffff;
  }

  &:active {
    color: rgba(255, 255, 25, 0.3);
  }

  @media (min-width: 768px) {
    min-width: 292px;
    padding: 20px 101px;
  }
}

.brandweek__button {
  text-align: center;
  font-family: "opensansbold", "Georgia", sans-serif;
  line-height: 1.18;
  margin-top: 8px;

  @media (min-width: 768px) {
    order: 5;
    margin-top: -65px;
    padding: 15px 99px;
  }

  @media (min-width: 1150px) {
    margin-top: 30px;
    margin-right: 410px;
  }
}
