.catalog {

}
.catalog__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 320px;
  min-height: 177px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px 30px;
  background-color: #f1f1f1;
  /*border: 1px solid blue; /*убрать после*/

  @media (min-width: 772px) {
    min-width: 772px;
    min-height: 226px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 52px;
    margin-top: -44px;
    position: relative;
    /*border: 1px solid green;/**/
  }
}

.catalog__name::after {
  @media (min-width: 772px) {
    content: "";
    margin: 0;
    padding: 0;
    width: 772px;
    height: 24px;
    box-sizing: inherit;
    background: url('../img/zigzag-fill-desktop-svg.svg') no-repeat top center;
    background-size: cover;
    position: absolute;
    top: 212px;
    left: 0;
    z-index: 21;
  }
}

.catalog__text {
  /*border: 1px solid blue; /*убрать после*/
  .set-font-size(27px);
  font-family: opensansbold;
  line-height: 1.11;
  text-align: center;
  color: #000000;
  margin: auto;

  @media (min-width: 772px) {
  .set-font-size(43px);
  line-height: 1.16;
  }
}
