.contacts {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    margin: 0 auto;
    padding: 0 30px;
    /*border: 1px solid blue; /**/
}
.write {
  .set-font-size(18px);
}
.contacts__write {
  font-family: opensansbold;
  text-align: left;
  color: #000000;
  line-height: 1.67;
  width: 260px;
  min-height: 14px;
  /*border: 1px solid red;/**/
  margin-top: 95px;
  padding: 1px;
  box-sizing: border-box;
  position: relative;
}
.contacts__data {
  /*border: 1px solid red;/**/
  display: flex;
  width: 320px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 30px;
  box-sizing: border-box;
}
.data-one {
   /*border: 1px solid blue;/**/
   display: flex;
   flex-wrap: wrap;
   width: 320px;
   min-height: 166px;
}
.data-second_item {
   /*border: 1px solid blue;/**/
   margin-top: -37px;
}
.data-second_addres {
text-align: left;
  width: 145px;
  margin-top: 21px;
}
.data-one_line {
padding-bottom: 4px;
  border-bottom: 1px solid #63d1bb;
}
.iframe {
  border: none;
  background: #ffffff url('../img/map-mobile@1x.jpg') no-repeat top center;
}
.contacts__button {
  text-align: center;
  color: #444444;
  font-family: opensansbold;
  line-height: 1.11;
  font-size: 18px;
  margin-top: 39px;
  margin-bottom: 39px;
  padding: 20px 0;
}
