/* Файл blocks/contacts.less */

.contacts {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  /*border: 1px solid blue; /**/
  position: relative;
}

@media (min-width: 768px) {
  .contacts {
    width: 768px;
    min-height: 930px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 52px;
    margin: 0 auto;
    margin-top: 45px;
    /*border: 1px solid green;/**/
  }
}

@media (min-width: 1150px) {
  .contacts {
    flex-direction: column;
    width: 1150px;
    min-height: 656px;
    padding: 0 50px;
    margin: 0 auto;
    margin-top: 0px;
    /*border: 1px solid green;/**/
  }
}

.main-page__contacts {
  position: relative;
}

@media (min-width: 768px) {
  .main-page__contacts::after {
    content: "";
    margin: 0;
    padding: 0;
    width: 100%;
    height: 15px;
    box-sizing: inherit;
    background: url('../img/zigzag-line-desktop-svg.svg') no-repeat top center;
    background-size: cover;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 21;
  }
}

@media (min-width: 1150px) {
  .main-page__contacts::after {
    /*width: 1050px;*/
    height: 23px;
    /*margin-left: 50px;*/
  }
}

.contacts__write {
  font-size: 18px;
  font-family: opensansbold, Georgia, sans-serif;
  text-align: left;
  color: #000000;
  line-height: 1.67;
  min-width: 260px;
  min-height: 14px;
  /*border: 1px solid red;/**/
  margin-top: 95px;
  padding: 1px;
  box-sizing: border-box;
  position: relative;
}

@media (min-width: 768px) {
  .contacts__write {
    font-size: 43px;
    line-height: 1.16;
    min-width: 668px;
    min-height: 32px;
    /*border: 1px solid red;/**/
  }
}

@media (min-width: 1150px) {
  .contacts__write {
    font-size: 53px;
    line-height: 1.08;
    min-width: 261px;
    min-height: 39px;
    margin-right: auto;
    padding-left: 175px;
    margin-top: 167px;
    order: 1;
    /*border: 1px solid red;/**/
  }
}

.contacts__write::after {
  content: "";
}

@media (min-width: 768px) {
  .contacts__write::after {
    content: "";
    margin: 0;
    padding: 0;
    width: 47px;
    height: 81px;
    box-sizing: inherit;
    background: url('../img/flag-svg.png') no-repeat top center;
    background-size: cover;
    position: absolute;
    top: -15px;
    left: 620px;
    z-index: 21;
  }
}

@media (min-width: 1150px) {
  .contacts__write::after {
    top: -15px;
    left: 83px;
  }
}

.contacts__data {
  position: relative;
  /*border: 1px solid red;/**/
  display: table;
  min-width: 320px;
  min-height: 166px;
  margin: 0;
  margin-top: -20px;
  padding: 0 30px;
  box-sizing: border-box;
  border-spacing: 0px 0px;
}

@media (min-width: 768px) {
  .contacts__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 668px;
    min-height: 77px;
    padding: 0;
    /*border: 1px solid red;/**/
  }
}

@media (min-width: 1150px) {
  .contacts__data {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 300px;
    min-height: 137px;
    padding: 0;
    padding-left: 175px;
    margin-right: auto;
    margin-top: -80px;
    order: 2;
    /*border: 1px solid red;/**/
  }
}

.contacts .rows__first_item {
  border-bottom: none;
  /**/
  /*border: 1px solid red;/**/
}

@media (min-width: 768px) {
  .contacts .rows__first_item {
    font-size: 17px;
    font-family: opensans, Georgia, sans-serif;
    text-align: left;
    color: #444444;
    line-height: 1.76;
  }
}

.contacts .rows__first:nth-of-type(3) {
  height: 25px;
}

@media (min-width: 768px) {
  .contacts .rows__first:nth-of-type(4) {
    margin-top: -35px;
    margin-left: 55px;
  }
}

@media (min-width: 1150px) {
  .contacts .rows__first:nth-of-type(4) {
    margin-top: 0px;
    margin-left: 0px;
  }
}

.contacts .rows__first_line {
  border-bottom: 1px solid #63d1bb;
}

.rows__first_name {
  padding-top: 35px;
  vertical-align: top;
}

.rows__first_addres {
  width: 160px;
  padding-top: 35px;
  vertical-align: top;
}

.contacts__iframe {
  position: relative;
  z-index: 10;
  padding: 0;
  margin: 0;
  margin-top: 42px;
  border: none;
  background: #ffffff url('../img/map-mobile@1x.jpg') no-repeat top center;
}

@media (min-width: 768px) {
  .contacts__iframe {
    /*border: 1px solid red;/**/
    margin-bottom: 61px;
    padding: 0;
    width: 768px;
    height: 457px;
    background: #ffffff url('../img/map-tablet-1-x.png') no-repeat top center;
    background-size: cover;
  }
}

@media (min-width: 1150px) {
  .contacts__iframe {
    /*border: 1px solid red;/**/
    margin-top: -607px;
    margin-left: auto;
    padding: 0;
    width: 525px;
    height: 457px;
    background: #ffffff url('../img/map-desktop-1-x.png') no-repeat top center;
    background-size: cover;
    order: 4;
  }
}

.contacts__pin {
  position: absolute;
  bottom: 400px;
  left: 120px;
  width: 67px;
  height: 100px;
  z-index: 100;
  background-image: url('../img/map-pin-svg.svg');
  font-size: 0;
}

@media (min-width: 768px) {
  .contacts__pin {
    bottom: 420px;
    left: 350px;
  }
}
@media (min-width: 1150px) {
  .contacts__pin {
    bottom: 330px;
    left: 800px;
  }
}

.contacts__button {
  text-align: center;
  color: #444444;
  font-family: opensansbold;
  line-height: 1.11;
  font-size: 18px;
  margin-top: 39px;
  margin-bottom: 39px;
  padding: 20px 0;
}

@media (min-width: 768px) {
  .contacts__button {
    min-width: 230px;
    line-height: 1.18;
    font-size: 17px;
    margin: -5px auto 57px auto;
    padding: 20px 0;
  }
}

@media (min-width: 1150px) {
  .contacts__button {
    margin-left: 175px;
    margin-top: -20px;
    order: 3;
  }
}
