/* Файл blocks/contacts.less */

.contacts {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  /*border: 1px solid blue; /**/
  position: relative;
}

@media (min-width: 768px) {
  .contacts {
    width: 768px;
    min-height: 930px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin: 0 auto;
    margin-top: 45px;
    /*border: 1px solid green;/**/
  }
}

@media (min-width: 1150px) {
  .contacts {
    flex-direction: column;
    width: 1150px;
    min-height: 656px;
    padding: 0 50px;
    margin: 0 auto;
    margin-top: 0;
    /*border: 1px solid green;/**/
  }
}

.contacts__write {
  font-size: 18px;
  font-family: "opensansbold", "Arial", sans-serif;
  text-align: left;
  color: #000000;
  line-height: 1.67;
  min-width: 260px;
  min-height: 14px;
  /*border: 1px solid red;/**/
  margin-top: 85px;
  margin-left: -5px;
  padding: 1px;
  box-sizing: border-box;
  position: relative;
}

@media (min-width: 768px) {
  .contacts__write {
    margin-top: 100px;
    font-size: 43px;
    line-height: 1.16;
    min-width: 668px;
    min-height: 32px;
    /*border: 1px solid red;/**/
  }
}

@media (min-width: 1150px) {
  .contacts__write {
    font-size: 53px;
    line-height: 1.08;
    min-width: 261px;
    min-height: 39px;
    margin-right: auto;
    padding-left: 175px;
    margin-top: 163px;
    order: 1;
    /*border: 1px solid red;/**/
  }
}

.contacts__write::after {
  content: "";
}

@media (min-width: 768px) {
  .contacts__write::after {
    content: "";
    margin: 0;
    padding: 0;
    width: 47px;
    height: 81px;
    box-sizing: inherit;
    background: url("../img/flag-svg.png") no-repeat top center;
    background-size: cover;
    position: absolute;
    top: -15px;
    left: 623px;
    z-index: 21;
  }
}

@media (min-width: 1150px) {
  .contacts__write::after {
    top: -7px;
    left: 68px;
  }
}

.contacts__data {
  position: relative;
  /*border: 1px solid red;/**/
  display: table;
  min-width: 320px;
  min-height: 166px;
  margin: 0;
  padding: 0 30px;
  box-sizing: border-box;
  border-spacing: 0 0;
}

@media (min-width: 768px) {
  .contacts__data {
    display: flex;
    min-width: 668px;
    min-height: 77px;
    padding: 0;
    /*border: 1px solid red;/**/
  }
}

@media (min-width: 1150px) {
  .contacts__data {
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 300px;
    min-height: 137px;
    padding: 0;
    padding-left: 175px;
    margin-right: auto;
    margin-top: -49px;
    order: 2;
    /*border: 1px solid red;/**/
  }
}

.contacts-first-item {
  border-bottom: none;
  line-height: 2;
  /*border: 1px solid red;/**/
}

@media (min-width: 768px) {
  .rows__first_item {
    font-size: 17px;
    font-family: "opensans", "Arial", sans-serif;
    text-align: left;
    color: #444444;
    line-height: 1.76;
  }
}

.contacts-first-item-email {
  padding-top: 6px;
}

.contacts__email {
  text-decoration: none;
  color: #444444;
  padding-top: 7px;
  background-image: linear-gradient(to bottom, rgba(99,209,187) 50%, transparent 50%);
  background-position: 0px 26px;
  background-repeat: repeat-x;
  background-size: 1px 2px;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
  }

  @media (min-width: 768px) {
    background-position: 0px 29px;
  }
}

.contacts .contacts__rows-first:nth-of-type(3) {
  height: 25px;
}

@media (min-width: 768px) {
  .contacts .contacts__rows-first:nth-of-type(4) {
    margin-top: -35px;
    margin-left: 55px;
  }
}

@media (min-width: 1150px) {
  .contacts .contacts__rows-first:nth-of-type(4) {
    margin-top: 0;
    margin-left: 0;
  }
}

.contacts__first_line {
  padding-top: 7px;

  @media (min-width: 768px) {
    padding-top: 6px;
    padding-left: 23px;
  }
}

.contacts__first_name {
  padding-top: 29px;
  vertical-align: top;

  @media (min-width: 768px) {
    padding-left: 51px;
    padding-top: 5px;
  }

  @media (min-width: 1150px) {
    padding-top: 31px;
    padding-left: 0;
  }
}

.contacts__first_addres {
  width: 160px;
  padding-top: 29px;
  vertical-align: top;

  @media (min-width: 768px) {
    padding-top: 7px;
    padding-left: 25px;
    width: 270px;
  }

  @media (min-width: 1150px) {
    padding-top: 31px;
    padding-left: 26px;
  }
}

.contacts__first_addres br:nth-of-type(2) {
  @media (min-width: 768px) {
    display: none;
  }
}

.contacts__iframe {
  position: relative;
  z-index: 10;
  padding: 0;
  margin: 0;
  margin-top: 37px;
  border: none;
  background: #d9d2b2 url("../img/map-mobile@1x.jpg") no-repeat top center;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: #d9d2b2 url("../img/map-mobile@2x.jpg") no-repeat top center;
    background-size: 320px auto;
  }
}

@media (min-width: 768px) {
  .contacts__iframe {
    /*border: 1px solid red;/**/
    margin-bottom: 61px;
    margin-top: 58px;
    margin-left: -50px;
    margin-right: -50px;
    padding: 0;
    width: 768px;
    height: 457px;
    background: #d9d2b2 url("../img/map-tablet@1x.jpg") no-repeat top center;
    background-size: cover;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: #d9d2b2 url("../img/map-tablet@2x.jpg") no-repeat top center;
    background-size: 768px auto;
  }
}

@media (min-width: 1150px) {
  .contacts__iframe {
    /*border: 1px solid red;/**/
    margin-top: -552px;
    margin-bottom: 105px;
    margin-left: auto;
    margin-right: 0;
    padding: 0;
    width: 525px;
    height: 457px;
    background: #d9d2b2 url("../img/map-desktop@1x.jpg") no-repeat top center;
    background-size: cover;
    order: 4;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: #d9d2b2 url("../img/map-desktop@2x.jpg") no-repeat top center;
    background-size: 525px auto;
  }
}

.contacts__pin {
  position: absolute;
  bottom: 400px;
  left: 120px;
  width: 67px;
  height: 100px;
  z-index: 100;
  background-image: url("../img/map-pin-svg.svg");
  font-size: 0;
}

@media (min-width: 768px) {
  .contacts__pin {
    bottom: 420px;
    left: 350px;
  }
}

@media (min-width: 1150px) {
  .contacts__pin {
    bottom: 330px;
    left: 800px;
  }
}

.contacts__button {
  text-align: center;
  color: #444444;
  font-family: "opensansbold", "Arial", sans-serif;
  line-height: 1.11;
  font-size: 18px;
  margin-top: 39px;
  margin-bottom: 39px;
  padding: 14px 0;
}

@media (min-width: 768px) {
  .contacts__button {
    min-width: 230px;
    line-height: 1.18;
    font-size: 17px;
    margin: -5px auto 57px auto;
    padding: 14px 0;
  }
}

@media (min-width: 1150px) {
  .contacts__button {
    margin-left: 175px;
    margin-top: 45px;
    order: 3;
  }
}
