.footer {
    /*border: 1px solid red;/**/
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    margin: 0 auto;
    padding: 0 30px;
    background-color: #f1f1f1;
}
.footer-item {
  display: flex;
  align-items: center;
  /*border: 1px solid green; /*убрать после*/
  border-bottom: 1px solid rgba(68, 68, 68, 0.1);
  width: 260px;
  min-height: 81px;
  font-size: 0;
  box-sizing: border-box;
}
.footer-item_social {
  text-align: left;
  box-sizing: border-box;
}
.twit {
  background: #f1f1f1 url('../img/twitter-svg.png') no-repeat;
  background-position: 0px 0px;
  width: 23px;
  height: 20px;
  margin-left: 40px;
}
.insta {
  background: #f1f1f1 url('../img/insta-svg.png') no-repeat;
  background-position: 0px 0px;
  width: 22px;
  height: 21px;
  margin-left: 52px;
}
.facebook {
  background: #f1f1f1 url('../img/fb-svg.png') no-repeat;
  background-position: 0px 0px;
  width: 15px;
  height: 28px;
  margin-left: 40px;
}
.footer-bottom {
  display: flex;
  box-sizing: border-box;
  font-family: opensansbold;
  text-align: left;
  color: #000000;
  line-height: 0.95;
  /*border: 1px solid green; /*убрать после*/
  width: 320px;
  height: 80px;
}
.footer-bottom__logomini {
  margin-left: 30px;
  padding-top: 22px;

}
.footer__text {
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-left: 69px;
}
