/* Файл blocks/form.less */

/* радио-кнопок ТИП */

.form__radio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  /*border: 1px solid green;/**/
  text-align: left;
  position: relative;
  min-height: 140px;

  @media (min-width: 768px) {
    min-height: 225px;
    width: 768px;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    /*border: 1px solid green;/**/
  }

  @media (min-width: 1150px) {
    min-height: 241px;
    width: 1050px;
    margin-top: -5px;
    /*border: 1px solid green;/**/
  }
}

.form__radio-name {
  /*border: 1px solid green;/**/
  font-family: "opensansbold", "Georgia", sans-serif;
  line-height: 0.94;
  min-width: 36px;
  text-align: left;
  color: #63d1bb;
  .zero;
  margin-right: auto;
  padding: 25px 0;
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    padding-top: 66px;
    padding-left: 51px;
  }

  @media (min-width: 1150px) {
    display: flex;
    padding-top: 81px;
    padding-left: 64px;
  }
}

.form__radio-button {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  position: relative;
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "opensansbold", "Georgia", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  outline: none;
  box-sizing: border-box;
  /*border: 1px solid red;/**/

  @media (min-width: 768px) {
    min-height: 130px;
    font-size: 19px;
    line-height: 0.95;
    margin-top: -59px;
  }

  @media (min-width: 1150px) {
    margin-left: -367px;
    margin-top: -56px;
  }
}

.form__radio-button::before {
  content: "";
  background-color: #63d1bb;
  box-sizing: inherit;
  position: absolute;
  width: 198px;
  height: 1px;
  top: -35px;
  left: 62px;
  z-index: 30;

  @media (min-width: 768px) {
    width: 0;
  }
}

.form__radio-button label:nth-child(2) {
  margin-top: 15px;

  @media (min-width: 768px) {
    margin-top: 38px;
  }

  @media (min-width: 1150px) {
    margin-top: 38px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input[type="radio"]:checked + .form__span,
input[type="radio"]:not(:checked) + .form__span {
  display: inline-block;
  position: relative;
  padding-left: 62px;
  padding-top: 9px;
  cursor: pointer;
  vertical-align: middle;

  @media (min-width: 768px) {
    padding-left: 80px;
    padding-top: 18px;
  }

  @media (min-width: 1150px) {
    padding-top: 16px;
  }
}

input[type="radio"] + .form__span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  text-align: center;
  border: 2px solid #444444;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    width: 52px;
    height: 52px;
  }
}

input[type="radio"]:checked + .form__span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  text-align: center;
  border: 2px solid #444444;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    width: 52px;
    height: 52px;
  }
}

input[type="radio"]:checked + .form__span::after {
  content: "";
  position: absolute;
  left: 12px;
  top: 12px;
  z-index: 1;
  text-align: center;
  border: 2px solid #62d1ba;
  background-color: #62d1ba;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    width: 22px;
    height: 22px;
    left: 15px;
    top: 15px;
  }
}

/*чекбоксы*/

.form__color {
  @media (min-width: 768px) {
    background-color: #f1f1f1;
  }
}

.form__color-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 320px;
  min-height: 425px;
  margin: 0 auto;
  padding: 0 30px;
  /*border: 1px solid green;/*#ececec*/
  text-align: left;
  position: relative;
  box-sizing: border-box;

  @media (min-width: 768px) {
    min-height: 304px;
    width: 768px;
    margin: auto;
    padding: 0;
    /*border: 1px solid green;/**/
  }

  @media (min-width: 1150px) {
    min-height: 228px;
    width: 1050px;
    /*border: 1px solid green;/**/
  }
}

.form__color-name {
  /*border: 1px solid green;/*#ececec*/
  font-family: "opensansbold", "Georgia", sans-serif;
  line-height: 0.94;
  text-align: left;
  color: #63d1bb;
  min-width: 36px;
  .zero;
  margin-right: auto;
  padding: 32px 0;
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    padding-top: 69px;
    padding-left: 52px;
  }

  @media (min-width: 1150px) {
    padding-left: 60px;
  }
}

.form__color-button {
  display: flex;
  flex-direction: column;
  min-height: 366px;
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: -42px;
  margin-right: auto;
  color: #000000;
  font-family: "opensansbold", "Georgia", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  outline: none;
  box-sizing: border-box;
  /*border: 1px solid red;/**/

  @media (min-width: 768px) {
    min-height: 204px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: justify-content;
    font-size: 19px;
    line-height: 0.95;
    padding-top: 5px;
    padding-left: 217px;
    margin-top: -77px;
  }

  @media (min-width: 1150px) {
    min-height: 228px;
    padding-left: 176px;
    margin-top: -119px;
  }
}

.form__color-button::before {
  content: "";
  background-color: #63d1bb;
  box-sizing: inherit;
  position: absolute;
  width: 198px;
  height: 1px;
  top: 0;
  left: 62px;
  z-index: 30;

  @media (min-width: 768px) {
    width: 0;
  }
}

.form__color-button label:nth-child(n+1) {
  margin-top: 32px;

  @media (min-width: 768px) {
    margin-top: 0;
  }

  @media (min-width: 1150px) {
    margin-top: 0;
  }
}

.form__color-button label:nth-child(2) {
  @media (min-width: 768px) {
    margin-left: 117px; /*114*/
  }

  @media (min-width: 1150px) {
    margin-left: 113px; /*117*/
  }
}

.form__color-button label:nth-child(4) {
  @media (min-width: 768px) {
    margin-left: 65px; /*68*/
  }

  @media (min-width: 1150px) {
    margin-left: -3px;
  }
}

.form__color-button label:nth-child(6) {
  @media (min-width: 768px) {
    margin-left: 92px; /*92*/
    margin-top: -85px; /*-85*/
  }

  @media (min-width: 1150px) {
    margin-left: 94px; /*97*/
    margin-top: -60px; /*-60*/
  }
}

.form__color-button label:nth-child(2n+3) {
  @media (min-width: 768px) {
    margin-top: 24px; /*-60*/
  }

  @media (min-width: 1150px) {
    margin-top: 0;
    margin-left: 119px; /*119*/
  }
}

.form__color-button label:nth-child(5) {
  @media (min-width: 768px) {
    margin-top: 24px; /*-85*/
  }

  @media (min-width: 1150px) {
    margin-top: -66px; /*-60*/
    margin-left: 102px; /*102*/
  }
}

.form__color-button label:nth-child(2n+4) {
  @media (min-width: 768px) {
    margin-top: 24px; /*-60*/
  }

  @media (min-width: 1150px) {
    margin-top: -65px; /*-60*/
  }
}

input[type="checkbox"]:checked + span,
input[type="checkbox"]:not(:checked) + span {
  display: inline-block;
  position: relative;
  padding-left: 62px;
  padding-top: 12px;
  cursor: pointer;
  vertical-align: middle;

  @media (min-width: 768px) {
    padding-left: 82px;
    padding-top: 16px;
  }
}

input[type="checkbox"] + span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  text-align: center;
  border: 2px solid #444444;
  width: 40px;
  height: 39px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    width: 54px;
    height: 52px;
  }
}

input[type="checkbox"]:checked + span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  text-align: center;
  border: 2px solid #444444;
  width: 40px;
  height: 39px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    width: 54px;
    height: 52px;
  }
}

input[type="checkbox"]:hover + span::before,
input[type="radio"]:hover + span::before {
  border: 2px solid #62d1ba;
}

input[type="checkbox"]:disabled + span::before,
input[type="radio"]:disabled + span::before {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

input[type="checkbox"]:checked + span::after {
  content: url("../img/tick-mobile-svg.svg");
  position: absolute;
  left: 10px;
  top: 13px;
  z-index: 1;
  text-align: center;
  width: 22px;
  height: 16px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    width: 33px;
    height: 22px;
    left: 13px;
    top: 17px;
  }
}

/*блок с ФИО*/

.form__full-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 320px;
  min-height: 175px;
  margin: 0 auto;
  padding: 0 30px;
  text-align: left;
  position: relative;
  box-sizing: border-box;
  /*border: 1px solid green;/**/

  @media (min-width: 768px) {
    flex-direction: row;
    min-height: 304px;
    width: 768px;
    padding: 0 50px;
    /*border: 1px solid green;/**/
  }

  @media (min-width: 1150px) {
    width: 1050px;
    padding-left: 61px;
    margin-top: -2px;
    /*border: 1px solid green;/**/
  }
}

.form__full-name {
  /*border: 1px solid green;/**/
  font-family: "opensansbold", "Georgia", sans-serif;
  font-size: 17px;
  line-height: 0.94;
  text-align: left;
  color: #63d1bb;
  min-width: 36px;
  .zero;
  margin-right: auto;
  padding: 24px 0;
  box-sizing: border-box;
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    padding-top: 69px;
    margin-bottom: auto;
  }

  @media (min-width: 1150px) {
    min-width: 40px;
    display: flex;
    margin-right: 72px;
  }
}

.form__full-nameform {
  min-width: 260px;
  min-height: 252px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  color: #000000;
  font-family: "opensansbold", "Georgia", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  outline: none;
  box-sizing: border-box;
  /*border: 1px solid blue; /**/

  @media (min-width: 768px) {
    min-width: 498px;
    font-size: 19px;
    line-height: 0.95;
    margin-top: 50px;
  }

  @media (min-width: 1150px) {
    min-width: 697px;
    margin-top: 50px;
    margin-right: auto;
  }
}

input[type="text"] {
  width: 260px;
  min-height: 52px;
  outline: none;
  border: none;
  font-family: "opensans", "Georgia", sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  border-bottom: 2px solid black;
  box-sizing: border-box;

  @media (min-width: 768px) {
    min-width: 375px;
    font-size: 19px;
    line-height: 0.95;
    padding-left: 17px;
    margin-left: 20px;
  }

  @media (min-width: 1150px) {
    min-width: 575px;
  }
}

.form__full_width input[type="text"] {
  @media (min-width: 768px) {
    min-width: 426px;
  }

  @media (min-width: 1150px) {
    width: 626px;
  }
}

.form__full_label:hover input[type="text"] {
  border-bottom: 2px solid #62d1ba;
}

.form__full-nameform::before {
  content: "";
  background-color: #63d1bb;
  box-sizing: inherit;
  position: absolute;
  width: 198px;
  height: 1px;
  top: -35px;
  left: 62px;
  z-index: 30;

  @media (min-width: 768px) {
    width: 0;
  }
}

.form__full-nameform label:nth-child(n+2) {
  margin-top: 24px;
}

/*телефон*/

.form__phone,
.form__email {
  @media (min-width: 768px) {
    background-color: #f1f1f1;
  }
}

.form__phone-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 320px;
  min-height: 73px;
  margin: 0 auto;
  margin-top: -5px;
  padding: 0 30px;
  text-align: left;
  position: relative;
  box-sizing: border-box;
  /*border: 1px solid green;/**/


  @media (min-width: 768px) {
    flex-direction: row;
    min-height: 114px;
    width: 768px;
    padding: 0 50px;
    margin-top: 1px;
  }

  @media (min-width: 1150px) {
    width: 1050px;
    margin-top: 2px;
  }
}

.form__phone-number {
  /*border: 1px solid red;/*#ececec*/
  font-family: "opensansbold", "Georgia", sans-serif;
  line-height: 0.94;
  text-align: left;
  color: #63d1bb;
  min-width: 36px;
  .zero;
  padding: 34px 0;
  padding-bottom: 9px;
  margin-right: auto;
  position: relative;
  box-sizing: border-box;

  @media (min-width: 768px) {
    display: flex;
    padding-top: 55px;
    padding-bottom: 18px;
    padding-left: 1px;
  }

  @media (min-width: 1150px) {
    padding-left: 12px;
    margin-right: 81px;
  }
}

.form__phone-data {
  /*border: 1px solid blue;/*#ececec*/
  display: flex;
  flex-direction: column;
  min-height: 52px;
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 260px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    min-width: 501px;
    padding-top: 40px;
  }

  @media (min-width: 1150px) {
    min-width: 700px;
    margin-right: auto;
    padding-top: 41px;
  }
}

input[type="tel"] {
  min-width: 260px;
  min-height: 52px;
  outline: none;
  border: none;
  font-family: "opensans", "Georgia", sans-serif;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  margin-top: -2px;
  margin-left: -1px;

  @media (min-width: 768px) {
    min-width: 501px;
    padding-left: 17px;
    background-color: #f1f1f1;
  }

  @media (min-width: 1150px) {
    width: 700px;
  }
}

.form__phone-svg {
  fill: rgba(0, 0, 0, 0.2);
  width: 25px;
  height: 24px;
  box-sizing: inherit;
  position: absolute;
  top: 11px;
  left: 227px;
  z-index: 5;

  @media (min-width: 768px) {
    top: 49px;
    left: 450px;
  }

  @media (min-width: 1150px) {
    top: 49px;
    left: 667px;
  }
}

.form__phone-data::before {
  content: "";
  background-color: #63d1bb;
  box-sizing: inherit;
  position: absolute;
  width: 198px;
  height: 1px;
  top: -18px;
  left: 62px;
  z-index: 30;

  @media (min-width: 768px) {
    width: 0;
  }
}

/*почта*/

.form__email-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 320px;
  min-height: 73px;
  margin: 0 auto;
  margin-top: -3px;
  padding: 0 30px;
  text-align: left;
  position: relative;
  box-sizing: border-box;
  /*border: 1px solid green;/**/

  @media (min-width: 768px) {
    flex-direction: row;
    min-height: 114px;
    width: 768px;
    padding: 0 50px;
    padding-bottom: 41px;
  }

  @media (min-width: 1150px) {
    width: 1050px;
  }
}

.form__email-name {
  /*border: 1px solid red;/*#ececec*/
  font-family: "opensansbold", "Georgia", sans-serif;
  line-height: 0.94;
  text-align: left;
  color: #63d1bb;
  min-width: 36px;
  .zero;
  padding: 34px 0;
  padding-bottom: 9px;
  margin-right: auto;
  position: relative;
  box-sizing: border-box;

  @media (min-width: 768px) {
    display: flex;
    padding-top: 24px;
    padding-bottom: 18px;
    padding-left: 1px;
  }

  @media (min-width: 1150px) {
    margin-right: 57px;
    padding-bottom: 15px;
    padding-left: 11px;
  }
}

.form__email-data {
  /*border: 1px solid blue;/*#ececec*/
  display: flex;
  flex-direction: column;
  min-height: 52px;
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 260px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    min-width: 501px;
    padding-top: 10px;
  }

  @media (min-width: 1150px) {
    min-width: 700px;
    margin-right: auto;
  }
}

input[type="email"] {
  min-width: 260px;
  min-height: 52px;
  outline: none;
  border: none;
  font-family: "opensans", "Georgia", sans-serif;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  margin-top: -2px;
  margin-left: -1px;

  @media (min-width: 768px) {
    min-width: 501px;
    padding-left: 17px;
    background-color: #f1f1f1;
  }

  @media (min-width: 1150px) {
    width: 700px;
  }
}

.form__email-svg {
  fill: rgba(0, 0, 0, 0.2);
  width: 32px;
  height: 32px;
  box-sizing: inherit;
  position: absolute;
  top: 11px;
  left: 220px;
  z-index: 5;

  @media (min-width: 768px) {
    top: 19px;
    left: 447px;
  }

  @media (min-width: 1150px) {
    top: 20px;
    left: 663px;
  }
}

.form__email-data::before {
  content: "";
  background-color: #63d1bb;
  box-sizing: inherit;
  position: absolute;
  width: 180px;
  height: 1px;
  top: -18px;
  left: 81px;
  z-index: 30;

  @media (min-width: 768px) {
    width: 0;
  }
}

.form__email-label:hover input[type="email"],
.form__tel-label:hover input[type="tel"],
.form__email-label:focus input[type="email"],
.form__tel-label:focus input[type="tel"] {
  border-bottom: 2px solid #62d1ba;
}

.form__email-label:hover svg,
.form__tel-label:hover svg,
.form__email-label:focus svg,
.form__tel-label:focus svg {
  fill: #62d1ba;
}

/*доп. информация*/

.form__additional-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 320px;
  min-height: 215px;
  margin: 0 auto;
  margin-top: -1px;
  padding: 0 30px;
  text-align: left;
  position: relative;
  box-sizing: border-box;
  /*border: 1px solid green;/**/

  @media (min-width: 768px) {
    flex-direction: row;
    min-height: 192px;
    width: 768px;
    padding: 0 50px;
    margin-top: 2px;
  }

  @media (min-width: 1150px) {
    width: 1050px;
  }
}

.form__additional-info {
  /*border: 1px solid red;/*#ececec*/
  font-family: "opensansbold", "Georgia", sans-serif;
  line-height: 0.94;
  text-align: left;
  color: #63d1bb;
  min-width: 36px;
  .zero;
  padding: 34px 0;
  padding-bottom: 23px;
  margin-right: auto;
  position: relative;
  box-sizing: border-box;

  @media (min-width: 768px) {
    display: flex;
    padding-top: 69px;
    margin-bottom: auto;
    padding-left: 1px;
  }

  @media (min-width: 1150px) {
    padding-left: 12px;
    margin-right: 74px;
  }
}

.form__additional-data {
  /*border: 1px solid blue;/*#ececec*/
  display: flex;
  flex-direction: column;
  min-height: 52px;
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 260px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    min-width: 501px;
    padding-top: 51px;
  }

  @media (min-width: 1150px) {
    min-width: 700px;
    margin-right: auto;
  }
}

.form__additional-data textarea {
  min-width: 260px;
  height: 142px;
  padding: 13px 15px;
  outline: none;
  font-family: "opensans", "Georgia", sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  border: 2px solid #444444;
  box-sizing: border-box;
  position: relative;
  z-index: 2;

  @media (min-width: 768px) {
    font-size: 19px;
    line-height: 0.95;
  }
}

.form__additional-data:hover textarea {
  border: 2px solid #62d1ba;
}

.form__additional-data::before {
  content: "";
  background-color: #63d1bb;
  box-sizing: inherit;
  position: absolute;
  width: 198px;
  height: 1px;
  top: -31px;
  left: 62px;
  z-index: 30;

  @media (min-width: 768px) {
    width: 0;
  }
}

/*текст со звездочкой и кнопка Отправить*/

.form__field-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 320px;
  min-height: 170px;
  margin: 0 auto;
  margin-top: -5px;
  margin-bottom: 5px;
  padding: 0 30px;
  text-align: left;
  position: relative;
  box-sizing: border-box;
  /*border: 1px solid green;/**/

  @media (min-width: 768px) {
    flex-direction: row;
    width: 768px;
    min-height: 155px;
    padding: 0 50px;
  }

  @media (min-width: 1150px) {
    width: 1050px;
    min-height: 157px;
  }
}

.form__field {
  min-width: 250px;
  margin: auto;
  margin-left: 0;
  .set-font-size(14px);
  padding-top: 5px;
  padding-bottom: 16px;
  /*border: 1px solid green;/**/

  @media (min-width: 768px) {
    order: 2;
    .set-font-size(17px);
    line-height: 1.76;
    min-width: 300px;
    padding-top: 14px;
    padding-bottom: 11px;
    margin-top: 53px;
    margin-left: 136px;
  }

  @media (min-width: 1150px) {
    margin-top: 49px;
    margin-left: 169px;
  }
}

/*кнопка-отправить заказ*/

.form__button {
  min-width: 260px;
  min-height: 52px;
  font-family: "opensansbold", "Georgia", sans-serif;
  line-height: 0.94;
  text-align: left;
  color: #444444;
  margin-bottom: 50px;
  padding: 15px 46px 18px 44px;
  cursor: pointer;
  box-sizing: border-box;
  white-space: nowrap;

  @media (min-width: 768px) {
    order: 1;
    display: flex;
    margin: 0;
    margin-top: 12px;
    min-width: 230px;
    height: 52px;
    padding: 16px 32px 18px 28px;
  }

  @media (min-width: 1150px) {
    margin-top: 7px;
    margin-left: 126px;
  }
}
