/* Файл blocks/header.less */

.header {
  /*border: 1px solid green; /**/
  position: relative;
  z-index: 2;
  width: 320px;
  margin: 0 auto;

  @media (min-width: 772px) {
    width: 772px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  @media (min-width: 1150px) {
    width: 1150px;
  }
}

.header__logo {
  padding: 22px 118px 22px 116px;
  box-sizing: border-box;
  height: 79px;
  .header-shadow;
  position: relative;
  z-index: 100;

  @media (min-width: 772px) {
    display: flex;
    text-decoration: none;
    padding: 0;
    padding-left: 52px;
    margin: 0;
    min-width: 112px;
    min-height: 88px;
    box-shadow: none;
    /*border: 1px solid green;/**/
  }

  @media (min-width: 1150px) {
    order: 2;
    display: flex;
    text-decoration: none;
    padding: 0;
    padding-left: 40px;
    margin: 0 auto;
    margin-left: 462px;
    margin-top: -199px;
    min-width: 289px;
    min-height: 88px;
    box-shadow: none;
    border-bottom: 1px solid rgba(68, 68, 68, 0.2);
    /*border: 1px solid orange;/**/
  }
}

.header__logo-main {

  @media (min-width: 772px) {
    display: flex;
    /*border: 1px solid green;/**/
  }
}

.main-nav__burger {
  position: absolute;
  left: 269px;
  top: 28px;

  @media (min-width: 772px) {
    display: none;
  }
}
