/* Файл blocks/list.less */

.list {
  list-style: none;
  margin: 0 auto;
  margin-top: 28px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 320px;
  box-sizing: border-box;
  /*border: 1px solid green;/**/

  @media (min-width: 768px) {
    width: 768px;
    padding: 0 52px;
    margin-top: 78px;
    /*border: 1px solid red;/**/
  }

  @media (min-width: 1150px) {
    width: 1150px;
    padding: 0 50px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 126px;
    /*border: 1px solid red;/**/
  }
}

.list__item {
  /*border: 1px solid blue;/**/
  min-height: 374px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 30px;
  box-sizing: border-box;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    min-width: 668px;
    padding: 0;
    min-height: 334px;
    margin-bottom: 54px;
  }

  @media (min-width: 1150px) {
    flex-direction: column;
    justify-content: space-between;
    min-width: 316px;
    min-height: 659px;
    margin-bottom: 57px;
  }
}

.list__image {
  @media (min-width: 768px) {
    /*border: 1px solid green;/**/
    width: 334px;
    height: 334px;
  }

  @media (min-width: 1150px) {
    /*border: 1px solid green;/**/
    width: 316px;
    height: 462px;
  }
}

.list__image_img {
  @media (min-width: 768px) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: 1150px) {
    width: 316px;
    height: 462px;
  }
}

.list__item-wrapper {
  border: 1px solid #ececec;/*#ececec*/
  width: 260px;
  min-height: 179px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding-left: 28px;
  padding-right: 28px;
  margin-top: -6px;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  @media (min-width: 768px) {
    width: 330px; /*335*/
    min-height: 334px;
    margin-top: 0;
  }

  @media (min-width: 1150px) {
    width: 316px; /*335*/
    min-height: 197px;
    margin-top: 0;
  }
}

.list__item-all {
  font-family: "opensansbold", "Georgia", sans-serif;
  line-height: 1.41;
  text-align: left;
  color: #000000;
  text-decoration: none;
  margin-top: 19px;
  display: flex;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: 768px) {
    .set-font-size(20px);
    line-height: 1.2;
    margin-top: -35px;
    margin-left: -4px;
  }

  @media (min-width: 1150px) {
    margin-top: 0;
    margin-left: -2px;
    /*border: 1px solid green; /*убрать после*/
  }
}

.list__item-allthird {
  margin-top: 28px;

  @media (min-width: 768px) {
    width: 200px;
    margin-top: -26px;
  }

  @media (min-width: 1150px) {
    margin-top: 7px;
  }
}

.list__item-normal {
  display: flex;
  .set-font-size(13px);
  font-family: "opensans", "Georgia", sans-serif;
  line-height: 2.31;
  text-align: left;
  color: #444444;
  .zero;
  margin-top: -11px;

  @media (min-width: 768px) {
    .set-font-size(15px);
    line-height: 2;
    margin-top: -192px;
    margin-left: -4px;
  }

  @media (min-width: 1150px) {
    margin-top: -64px;
    /*border: 1px solid green; /*убрать после*/
  }
}

.list__item-normthird {
  margin-top: 6px;

  @media (min-width: 768px) {
    margin-top: -166px;
  }

  @media (min-width: 1150px) {
    margin-top: -44px;
  }
}

.list__item-bottom {
  /*border: 1px solid green;/*#ececec*/
  border: none;
  border-top: 1px solid #ececec;/*red*/
  width: 260px;
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;

  @media (min-width: 768px) {
    /*border: 1px solid green;/*#ececec*/
    margin-top: -34px;
    margin-bottom: -66px;
  }

  @media (min-width: 1150px) {
    /*border: 1px solid green;/*#ececec*/
    margin-bottom: -20px;
  }
}

.list__item-bottomthird {
  margin-top: 15px;
  min-height: 75px;

  @media (min-width: 768px) {
    margin-top: -38px;
    min-height: 75px;
  }

  @media (min-width: 1150px) {
    margin-top: -36px;
    margin-left: -3px;
  }
}

.list__item-brandtext {
  .set-font-size(15px);
  font-family: "opensansbold", "Georgia", sans-serif;
  line-height: 1.6;
  text-align: left;
  color: #000000;

  @media (min-width: 768px) {
    .set-font-size(17px);
    line-height: 1.41;
  }
}

.list__item-basket {
  /*border: 1px solid red; /**/
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media (min-width: 768px) {
    margin-right: -10px;
  }

  @media (min-width: 1150px) {
    margin-right: 3px;
  }
}

.list__item-basket svg {
  fill: rgba(68, 68, 68, 0.2);
}

.list__item-basket:hover svg {
  fill: #63d1bb;
}

.list__item-basket:active svg {
  fill: rgba(99, 209, 187, 0.3);
}
