/* Файл blocks/main-page.less */

.main-page {
  padding-top: 30px;

  @media (min-width: 768px) {
    padding-top: 0;
  }
}

.main-page__background {
  background: #f9f9f9;
  position: relative;
}

.background__wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  margin-top: -30px;
  /*border: 1px solid red; /**/

  @media (min-width: 768px) {
    width: 768px;
    margin-top: -72px; /*подтяжка фона*/
  }

  @media (min-width: 1150px) {
    width: 1150px;
    margin-top: -55px; /*подтяжка фона*/
  }
}

.main-page__foto {
  display: flex;
  flex-wrap: wrap;
  width: 575px;
  height: 373px;

  @media (min-width: 768px) {
    width: 1150px;
    height: 746px;
  }
}

.main-page__text {
  .zero;
  color: #010000;
  font-family: opensansbold, Georgia, sans-serif;
  .set-font-size(27px);
  line-height: 1.11;
  text-align: center;
  position: absolute;
  top: 90px;
  left: 20px;
  min-width: 244px;

  @media (min-width: 768px) {
    color: #000000;
    font-family: opensansbold, Georgia, sans-serif;
    .set-font-size(43px);
    line-height: 1.16;
    position: absolute;
    top: 161px;
    left: 160px;
    min-width: 494px;
  }

  @media (min-width: 1150px) {
    .set-font-size(53px);
    line-height: 1.08;
    top: 161px;
    left: 273px;
    min-width: 604px;
  }
}
