/* Файл blocks/search-block.less */

.search-block {
  margin: 0;
  position: relative;

  @media (min-width: 768px) {
    margin-top: -160px; /*передвижениеи вверх из навигации*/
    margin-left: auto;
  }

  @media (min-width: 1150px) {
    margin-top: 0; /*передвижение вверх из навигации*/
    margin-left: auto;
  }
}

.search-block__form {
  display: none;
}

.search-block__text {
  .zero;

  @media (min-width: 768px) {
    display: none;
  }
}

.search-block__button {
  display: flex;
  font-family: "opensansbold", "Georgia", sans-serif;
  .set-font-size(17px);
  line-height: 1.41;
  min-height: 79px;
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-left: 57px;
  padding-bottom: 30px;
  background-color: #ffffff;
  .header-shadow;
  border: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;

  .search-block__button:active,
  .search-block__button:focus {
    outline: none;
  }

  @media (min-width: 768px) {
    width: 82px;
    min-height: 88px;
    box-shadow: none;
    border: 1px solid rgba(68, 68, 68, 0.2);
    border-top: none;
    border-bottom: none;
    /*border: 1px solid green;/**/
  }

  @media (min-width: 1150px) {
    border-bottom: 1px solid rgba(68, 68, 68, 0.2);
  }
}

.search__svg {
  position: relative;
  left: -25px;
  top: 4px;
  fill: rgba(68, 68, 68, 0.2);

  @media (min-width: 768px) {
    left: -29px;
  }

  @media (min-width: 1150px) {
    left: -26px;
  }
}


.search-block__button:hover .search__svg {
  fill: #63d1bb;
}

.search-block__button:active .search__svg {
  fill: rgba(99, 209, 187, 0.3);
}
