.site-block {
  position: relative;
  z-index: 20;
  background-color: #ffffff;
  min-height: 124px;

  @media (min-width: 768px) {
    background-color: transparent;
    min-height: 124px;
  }
}

.site-block__list {
  position: relative;
  z-index: 2;
  width: 320px;
  min-height: 206px;
  margin: 0 auto;
  margin-top: -92px; /*-30*/
  /*border: 1px solid red;/**/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  box-sizing: border-box;

  @media (min-width: 768px) {
    width: 768px;
    min-height: 124px;
    margin: 0 auto;
    margin-top: -123px;
    /*border: 1px solid red;/**/
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 50px;
    list-style: none;
  }

  @media (min-width: 1150px) {
    width: 1150px;
    margin-top: -125px;
    /*border: 1px solid red;/**/
    padding: 0 50px;
  }
}

.site-block::after {
  @media (min-width: 768px) {
    content: "";
    margin: 0;
    padding: 0;
    width: 100%;
    height: 24px;
    box-sizing: inherit;
    background: url("../img/zigzag-fill-desktop-svg.svg") no-repeat top center;
    background-size: cover;
    position: absolute;
    top: 113px;
    left: 0;
    z-index: 21;
  }

  @media (min-width: 1150px) {
    height: 34px;
    top: 106px;
  }
}

.site-block__item {
  margin: 0;
  padding: 0;
  background-color: #63d1bb;

  &:hover,
  &:active {
    background-color: #59d5bc;
    min-height: 108px;
  }

  @media (min-width: 768px) {
    &:hover,
    &:active {
      min-height: 124px;
    }
  }
}

.site-block__list .site-block__item:nth-child(2) {
  background-color: #56c3b2;

  &:hover,
  &:active {
    background-color: #46c1ae;
  }
}

.site-block__element {
  width: 320px;
  min-height: 103px;
  display: flex;
  padding-left: 28px;/*30*/
  text-align: left;
  color: #ffffff;
  .set-font-size(19px);
  font-family: "opensansbold", "Georgia", sans-serif;
  line-height: 1.26;
  text-decoration: none;
  box-sizing: border-box;

  @media (min-width: 768px) {
    min-width: 334px;
    min-height: 119px;
    display: flex;
    padding-left: 36px;
    color: #ffffff;
    .set-font-size(20px);
    font-family: "opensansbold", "Georgia", sans-serif;
    line-height: 1.5;
  }

  @media (min-width: 1150px) {
    min-width: 525px;
    padding-right: 36px;
  }
}

.site-block__text {
  /*border: 1px solid red; /*border*/
  width: 106px;
  min-height: 43px;
  padding-right: 109px;
  padding-top: 8px;

  &:hover {
    padding-top: 5px;
  }

  &:active {
    opacity: 0.3;
    padding-top: 5px;
  }

  @media (min-width: 768px) {
    min-height: 50px;
  }

  @media (min-width: 1150px) {
    min-width: 284px;
  }
}

.site-block__image {
  display: flex;
  margin: auto 0;
  margin-top: 22px;
  margin-right: 35px;

  @media (min-width: 768px) {
    margin-right: 44px;
    margin-top: 30px;
  }

  @media (min-width: 1150px) {
    margin-right: 44px;
    margin-top: 30px;
  }
}

.site-block__element .site-block__image:nth-of-type(1) {
  @media (min-width: 768px) {
    margin-left: 7px; /*???*/
  }
}

.site-block__item:nth-child(1) .site-block__text {
  @media (min-width: 1150px) {
    padding-right: 128px;
  }
}

.site-block__element:hover img {
  opacity: 0.7;
  margin-top: 20px;
}

.site-block__element:active img {
  opacity: 0.3;
  margin-top: 20px;
}
